.nav-wrapper{
    font-size: 20px;
  }
  
  .heading{
    background-color: #0b6066;
    padding: 20px;
    color: white;
  }
  
  .photo-div {
    max-width: 600px;
    align-content: flex-start;
    padding: 20px;
  }
  
  .flex-col {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
  }
  .flex-row{
  display: flex;
  align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ul, ol{
    text-align: left;
  }
  
  body {
    background-color: #DDF6EE;
    color: #003300;
    font-family: lato;
    text-align: center;
    line-height: 1.618em;
    margin: 50px;
  }
  
  h4{
    font-weight: bolder;
    text-align: left;
    padding: 5px;
  }
  
  h5{
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  p, h6{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .intro-card{
    width: 50%;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
  }
  
  .body-card{
    width: 95%;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
  }
  
  .intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width: 1200px) {
      .tabs{
          margin: 0px;
      }
      .body{
          margin: 0px;
      }
      .tab-content{
          padding: 5px;
      }
      .flex-col{
          padding: 5px;
      }
      .flex-row{
          padding: 5px;
      }
      iframe{
        width: 90%;
      }
    
      .photo-div{
          flex-direction: column;
          padding: 10px;
      }
  
      .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .intro-card{
        width: 100%;
        background-color: white;
        box-shadow: 1px 1px 5px rgb(194, 194, 194);
        border-radius: 2px;
        padding: 20px;
        margin: 20px;
      }
      .body-card{
        width: 100%;
        background-color: white;
        box-shadow: 1px 1px 5px rgb(194, 194, 194);
        border-radius: 2px;
        padding: 20px;
        margin: 20px;
      }
    }