<!doctype html>
<html lang="en">

</html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Personas</title>
    <link rel="stylesheet" href="index.css">
    <!-- TODO: add additional links here! e.g. fonts, icons, more stylesheets, etc. -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8">
</head>

<body>
    <!-- TODO: put your HTML code here! -->
    <div class="nav-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light" style="width: 100%">
            <a class="navbar-brand" href="#">
                <h1>Kelly Wang</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navi">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navi">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../home.html">Projects <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../about.html">About</a>
                    </li>
            </div>
        </nav>
    </div>
    <div class="heading">
        <h1 style="padding-top: 10px">Personas & Storyboarding</h1>
        <h3 style="padding-bottom: 10px"> Focus on Kitchen Compost Bin</h3>
    </div>
    <div class="wrapper">
        <div class="intro">
            <div class="photo-div">
                <img src="storyboard-final.PNG">
            </div>
            <div class="intro-card">
                <div class="flex-col">
                    <h2>Introduction</h3>
                </div>
            </div>
        </div>
        <div class="body-card">
            <div class="flex-col">
                <h2>Preparation</h2>
            </div>
        </div>
        <div class="body-card">
            <div class="flex-col">
                <h2>Reading Observations</h2>
            </div>
        </div>
        <div class="body-card">
            <div class="flex-col">
                <h2>Personas and Storyboard</h2>
            </div>
        </div>
        <div class="body-card">
            <div class="flex-col">
                <h2>Conclusion and Takeaways</h2>
            </div>
        </div>
    </div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>