.nav-wrapper{
  font-size: 20px;
}
.flex-col {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
  }
.flex-row{
  display: flex;
  align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

  .photo-div {
    max-width: 500px;
    align-content: flex-start;
    margin: auto;
  }

  img {
    max-width: 100%;
    max-height: 100%;
}

* {
  box-sizing: border-box;
}

ul, ol{
  text-align: left;
}

h4{
  font-weight: bolder;
  text-align: left;
  padding: 5px;
}

h5{
  text-align: left;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

p, h6{
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: #DDF6EE;
  color: #003300;
  font-family: "Quicksand";
  text-align: center;
  line-height: 1.618em;
  margin: 50px;
}

.heading{
  background-color: #0b6066;
  padding: 20px;
  color: white;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 20px;
  background: #1abc9c;
  height: auto;
}
.tabs .-tab-label {
  display: flex;
}
.tabs .-tab-label > li {
  flex-grow: 1;
}

.tab {
  float: center;
}
.tab-switch {
  display: none;
}

.tab-label {
  display: flex; 
  flex-direction: column;
  position: relative;
  line-height: 2.75em;
  height: 3em;
  width: 100%;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: auto;
  width: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 1;
  top: 17em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #003300;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 750px) {
  .tabs{
      margin: 0px;
  }
  .body{
      margin: 0px;
  }
  .tab-content{
      padding: 5px;
  }
  .flex-col{
      padding: 5px;
  }
  .flex-row{
      padding: 5px;
  }
  iframe{
    width: 90%;
  }

  .photo-div{
      flex-direction: column;
  }
}