/* Put your style information here! */
body {
    font-family: lato;
    font-weight: 300;
    background-color: #f7f5f1;
}

.project-wrapper{
    display: flex;
    flex-flow: column wrap;
    margin: 50px;
}

.nav-wrapper{
    font-size: 20px;
}

.projects{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.project-card{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.name-card{
    width: 50%;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);
    border-radius: 2px;
    padding: 20px;
    margin: 10px;
}

.card-img-top:hover{
    opacity: 0.5;
    background-color:  #f7f5f1;
}

.card{
    width: 500px;
}

.about{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h2, h4{
    padding-bottom: 10px;
    padding-top: 10px;
}



/* Tablet (Portrait) ----------- */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .project-wrapper{
        padding: 10px;
    }
    .card{
        width: 400px;
    }
    .about{
        margin-left: 10px;
    margin-right: 10px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 600px) {
    .project-wrapper{
        padding: 0px;
    }
    .about{
    margin-left: 10px;
    margin-right: 10px;
    }

    .card{
        width: auto;
    }
}